<body class="background">
    <div id="antHeader"></div>
    <section id='login'>
        <form action='/login' method='post' style="border-color:#66bfbf">
            <div class="container logindiv">
                <h1 class="logintitle">Login</h1>
                <div class="inp">
                    <label>Username : </label>
                    <input type="text" placeholder="Enter Username" name="uname" required>
                </div>
                <div class="inp">
                    <label>Password : </label>
                    <input type="password" placeholder="Enter Password" name="pw" required>
                </div>

                <p class="textp">
                    Not a member yet ? <a href="/register" class="to_register">Join us</a>
                </p>

                <div class="loginbutton">
                    <button class="singlebutton btn btn-primary " formaction="/login" type="submit">Login</button>

                </div>
            </div>
        </form>
    </section>
    <div id="antFooter"></div>
</body>

</html>