<%- include('../templates/head', {title: 'Home'}); -%>

    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">

    </head>

    <body>

        <div id="antHeader"></div>
        <div class="container" style="margin-top: 10%; margin-bottom: 10%">
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h3>Sign in</h3>
                        </div>
                        <div class="card-body">
                            <form action='/login' method='post' role="form">
                                <div class="mb-3">
                                    <label class="form-label" for="uname">Username</label>
                                    <input type="text" class="form-control form-control-lg" id="name" placeholder="Your username" name="uname" required/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="uname">Password</label>
                                    <input type="password" class="form-control form-control-lg" placeholder="Your Password" name="pw" required/>
                                </div>
                                <div class="d-grid gap-2">
                                    <input type="submit" class="btn btn-primary btn-lg" value="Login" formaction="/login" />
                                    <input type="button" class="btn btn-primary btn-lg" onclick="location.href='/register'" value="Register" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="antFooter"></div>

    </body>

    </html>