<%- include('templates/head', {title: 'Home'}); -%>

    <script type="text/babel" src="javascripts/index.js"></script>

    </head>

    <body>
        <div id="antHeader"></div>
        <div id="root"></div>
        <div id="antFooter"></div>
    </body>

    </html>