<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <!-- React -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.0.0-next-7e3121e1c-20220330/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.0.0-next-7e3121e1c-20220330/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

    <!-- Moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- Bootstrap V5.1 -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- JQuery -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <!-- Ant Design -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.19.4/antd.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/antd/4.19.4/antd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/ant-design-icons/dist/anticons.min.css" rel="stylesheet">

    <script>
        var isSignedIn = false;
    </script>

    <% if (user) { %>
        <script>
            isSignedIn = true;
            var userId = '<%= user.id %>';
            var userName = '<%= user.username%>';
            console.log(isSignedIn);
            console.log(userId);
            console.log(userName);
        </script>
        <% } %>

            <!-- Stylesheet -->
            <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

            <!-- Header and footer -->
            <script type="text/babel" src="javascripts/components/header.js"></script>
            <script type="text/babel" src="javascripts/components/footer.js"></script>