.site-layout-content {
    min-height: 600px;
    padding: 24px;
    margin: 50px;
    /*
    background: #fff;
    */
}

.flowControlCol {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flowControlContainer {
    min-height: 600px;
    border: 2px;
    border-radius: 10px;
    background-color: #ffffff;
}

#qrcode-row {
    justify-content: center;
}

#alert-row {
    justify-content: center;
    margin-top: 20px;
}

#right-antd-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textArea {
    background-color: #dce6fa;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    text-align: center;
}

.textArea h5 {
    font-family: Courier Prime Bits, monospace;
}

.text-area-row {
    margin-bottom: 15px;
}

#message-area {
    border-radius: 6px;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    margin-bottom: 20px;
    padding: 20px;
}

#message-area h3 {
    margin: 0 auto;
    padding: 10px;
}

.info-div {
    min-width: 400px;
}

#verification-result {
    margin-top: 30px;
}