.site-layout-content {
    min-height: 600px;
    padding: 24px;
    margin: 50px;
    /*
    background: #fff;
    */
}

.flowControlCol {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flowControlContainer {
    min-height: 600px;
    border: 2px;
    border-radius: 10px;
    background-color: #ffffff;
}