<%- include('../templates/head', {title: 'Result - Snark'}); -%>

    <script type="text/babel" src="/javascripts/snarkResult.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/snark/snark.css">

    </head>

    <body>
        <div id="antHeader"></div>
        <div id="content"></div>
        <div id="antFooter"></div>
    </body>

    </html>