<%- include('../templates/head', {title: 'Snark'}); -%>

    <script type="text/babel" src="javascripts/snark.js"></script>
    <script src="javascripts/qrcode.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/snark/snark.css">


    </head>

    <body>
        <div id="antHeader"></div>
        <div id="content"></div>
        <div id="antFooter"></div>
    </body>

    </html>